<!--
<% if current_user.rol == 2 %>
  <script type="text/javascript">
    window.location.href="/adviser/index"
  </script>
<% end %>
-->

<p>
  <b>Name:</b>
  <%= @student.username %>
</p>
<p>
  <b>Email:</b>
  <%= @student.email %>
</p>

<h1>Options for Student</h1>
